{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Book Room {{ object.room.room_type }}</h2>
    <body>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="start_date" class="form-label">Date (from): </label>
            <input type="date" name="start_date" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="end_date" class="form-label">Date (to): </label>
            <input type="date" name="end_date" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Book</button>
    </form>
    </body>

{% endblock %}